doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Agenda Document
  style.
    * {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Arial';
    }
    .table-div{
      overflow-x: auto;
      margin: 1rem
    }
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid black;
      border-spacing: 0;
    }
    thead {
      color: #111;
      height: 25px;
    }
    .main-table-heading{
      text-align: center ;
    }
    th, td{
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    

body 
  - const moment = require('moment')
  div(class='table-div') 
    table
      thead
        tr 
          th S. No
          th Name of the Issuer
          th Name/Type of Instrument
          th Size of the issue (Rs. in Crores)
          th Date of last review/ Rating
          th Reason for delay in periodic review
      tbody(class="tbody")
        each company, key in data
          tr
            td #{key + 1} 
            td #{company.company_name}
            td(style="padding: 0" class="td")
              table(style="border: none;") 
                tbody
                  each instrument, key in company.instruments
                    if key === company.instruments.length - 1
                      tr
                        td(style="border: 0;") #{instrument.type ? instrument.type : "-" }
                    else  
                      tr
                        td(style="border: 0;border-bottom: 1px solid black") #{instrument.type ? instrument.type : "-" }
            td(style="padding: 0" class="td")
              table(style="border: none") 
                tbody
                  each instrument, key in company.instruments
                    if key === company.instruments.length - 1
                      tr
                        td(style="border: 0;") #{instrument.size ? instrument.size.toFixed(2) : "-" }
                    else  
                      tr
                        td(style="border: 0;border-bottom: 1px solid black") #{instrument.size ? instrument.size.toFixed(2) : "-" }
            td #{moment(company.last_review_date).format("DD/MM/YYYY")}
            td #{company.reason_for_delay}
